## Python Variables
#### Variables are containers for storing data values.

### Rules guiding a naming a Variable.
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

1. A variable name must start with a letter or the underscore character

2. A variable name cannot start with a number

3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

4. Variable names are case-sensitive (age, Age and AGE are three different variables)

## Creating Variables
Python has no command for declaring a variable.
A variable is created once a value is assigned.

#### Example of Variables

In [8]:
a = 3
b = 4
print(a)
print(b)

3
4

#### From the above example, 'a' and 'b' are both variables.

#### Variables do not need to be declared with any particular type, and can even change type after they have been set.

##### See below example:

In [10]:
x = 4       # x is of type int
x = 10000 # x is now of type int
print(x)

10000

## Saving Strings in a variable ?
String variables can be declared either by using single or double quotes:

##### See below example:

In [3]:
x = "John"
# is the same as
y = 'John'
print(x)
print(y)

John
John

### Note: Variable names are case-sensitive.

##### Example

In [6]:
x = 4       
x = "Saidu" 
print(x)
print(x)

Saidu
Saidu

#### From the above example, if the variable names are the same Python assumes/overwrite the last value.

In [13]:
a = 4
A = "Sally"
print(a)
print(A)
#A will not overwrite a

#### From the above example, if the variable names are literally thesame Python but different case. Python treats them as individual variable

### Classwork
#### 1. Print out the six(6) variable in exercise 1.
#### 2. Spot out the wrong variable naming rule in exercise 2.

In [14]:
#Exercise 1
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [7]:
#Exercise 2
2myvar = "John"
my-var = "John"
my var = "John"

### Assigning Multiple Values to Multiple Variables

Multiple Values can be mapped to Multiple Variables name.
Python allows this to be done on a single line of code.

##### See below example:

In [16]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

##### Note: Make sure the number of variables matches the number of values, or else you will get an error.

### One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

##### See below example:

In [17]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

## Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

Example of Unpacking a list:

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Concatenating Variables
The Python print statement is often used to output variables.

##### To combine both text and a variable, Python uses the + character:

Example:

In [19]:
x = "awesome"
print("Python is " + x)

Python is awesome

##### You can also use the + character to add a variable to another variable

Example:

In [21]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

##### For numbers, the + character works as a mathematical operator:

Example:

In [22]:
x = 5
y = 10
print(x + y)

15

If you try to combine a string and a number, Python will give you an error:
    
Example:

In [15]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# How to solve the above error
x = 5
y = "John"
print(str(x)+ " " + y)

5 John

## Python Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type: 	str
    
2. Numeric Types: 	int, float, complex
    
3. Sequence Types:	list, tuple, range
    
4. Mapping Type:	dict
    
5. Set Types:	set, frozenset
    
6. Boolean Type:	bool
    
7. Binary Types:	bytes, bytearray, memoryview

## Getting the Data Type
You can get the data type of any object by using the type() function:

#### Example
Print the data type of the variable x:

In [17]:
x = 5
print(type(x))

<class 'int'>

## Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

Example	                                                  Data Type	

x = "Hello World"	                                        str	

x = 20	                                                    int	

x = 20.5	                                                float

x = 1j	                                                    complex	

x = ["apple", "banana", "cherry"]	                        list

x = ("apple", "banana", "cherry")	                        tuple

x = range(6)	                                            range

x = {"name" : "John", "age" : 36}	                        dict

x = {"apple", "banana", "cherry"}	                        set	

x = frozenset({"apple", "banana", "cherry"})	            frozenset

x = True	                                                bool	

x = b"Hello"	                                            bytes

x = bytearray(5)	                                        bytearray	

x = memoryview(bytes(5))	                                memoryview

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

Example	                                                                Data Type
x = str("Hello World")	                                                   str	
x = int(20)	                                                               int	
x = float(20.5)	                                                           float	
x = complex(1j)	                                                           complex	
x = list(("apple", "banana", "cherry"))	                                   list	
x = tuple(("apple", "banana", "cherry"))	                               tuple	
x = range(6)	                                                           range	
x = dict(name="John", age=36)	                                           dict	
x = set(("apple", "banana", "cherry"))	                                   set	
x = frozenset(("apple", "banana", "cherry"))	                           frozenset	
x = bool(5)	                                                               bool	
x = bytes(5)	                                                           bytes	
x = bytearray(5)	                                                       bytearray	
x = memoryview(bytes(5))	                                               memoryview

# Python Numbers
Python Numbers
There are three numeric types in Python:

1. int
2. float
3. complex
Variables of numeric types are created when you assign a value to them:

Example:

In [18]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

##### To verify the type of any object in Python, use the type() function:

Example:

In [32]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Integers

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

Example of Integers:

In [20]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
It can also be scientific numbers with an "e" to indicate the power of 10.


Example of floating numbers:

In [22]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex
Complex numbers are written with a "j" as the imaginary part:

Example of Complex numbers:

In [23]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## DataType Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

##### See examples of the conversion below:

In [24]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)
print(" ")
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)

<class 'float'>
<class 'int'>
<class 'complex'>

##### Note: You cannot convert complex numbers into another number type.

## Python Casting
### Specifying a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

##### Example of integer casting:

In [26]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

##### Example of float casting

In [27]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

##### Example of Strings casting

In [43]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [44]:
print("Hello")
print('Hello')

Hello
Hello

### Classwork 2: 
1. Assign your name as a String to a Variable called 'Name'

## Multiline Strings
You can assign a multiline string to a variable by using three quotes:

See the below Example of a multiline strings.

In [28]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

##### Or three single quotes:

In [47]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Having multiple quote in a sentence. See the below example

In [29]:
a = "He's coming to the event"
print(a)

He's coming to the event